<div class="container">
	<div class="row">
		<div class="title">
			<h4>Minneapolis, MN: {{data.length}} Apartments</h4>
		</div>
	</div>
	<div class="row">
		<div class="buttons col-lg-2 col-sm-3 pull-right">
			<div class="sortButton">
				<button class="sort" ng-repeat="button in buttons" ng-click="selectSort(button)" >{{button}}</button>
			</div>	
		</div>
	</div>
	<div class="apt-filter">
		<ul dir-paginate="apt in data | orderBy:sort|itemsPerPage:5">
			<div class="aptList row">
				<div class="aptImage col-lg-5 col-sm-5 nopadding">
					<img width="100%"; ng-src="{{apt.image}}"></img>				
				</div>
			  <div class="aptInfo col-lg-7 col-sm-7">
			  	<div class="aptName" ng-click="detailsPage(apt)">		    
			  		<p>{{apt.name}}</p>
					</div>
			  	<div class="aptDesc">		    
			  		<p>{{apt.description}}</p>
			  		<p>{{apt.location}}</p>
					</div>
			  	<div class="aptPrice pull-right">		    
			  		<span>From </span>
			  		<span class="price">${{apt.Price}}</span>
			  		<div>USD/month</div>
					</div>
			  </div>
			</div>	
		</ul> 
	</div>	
	<div class="row pages">
	  <dir-pagination-controls class="pageControls"max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
  </div>  
</div>
